script(type='text/template', name='headerTemplate')
    span#navigation
        a.previous(href='#previous') previous&nbsp;
        | |&nbsp;
        a.next(href='#next') next
    p.title
        | ${title} (${year})
    p
        a(href='#app/${uri}/render') render
    p
        a(href='#app/${uri}/source') source
    p
        a(href='#app/${uri}/statement') statement
